.checked{
  .text,
  .username{
    text-decoration: line-through;
  }
}

.task-list-header,
.hide-completed{
  width: 50% !important;
  display: inline-block !important;
  vertical-align: middle;
}

.hide-completed label{
  text-align: right;
}

.form-list-item{
  text-align: right;
}
